<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Deals</title>
    <link href="{{ url('css/app.css') }}" media="all" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="container">
    <h2>Special offers</h2>
    <div class="row">
        <div class="col-sm-3">
            <form action="/" method="get">
                <div class="form-group">
                    <label for="select">Choose shop:</label>
                    <select class="form-control" id="select" name="shop_id">
                        <option value="1">Amazon.com</option>
                        <option value="2">eBay.com</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sort</button>
                </div>
            </form>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="row">
                    {% set i = 0 %}
                    {% for deal in deals %}
                        <div class="col">
                            <div class="card" style="width: 13rem;">
                                {% if deal.images|length > 0 %}
                                    <img src="{{ url('resize/fit/180x180/images/'~deal.images[0].path) }}"
                                         alt="{{ deal.title }}" title="{{ deal.title }}">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ deal.title }}</h5>
                                    <div class="card-text">
                                        <div>
                                            Original price: <span
                                                    style="text-decoration:line-through;">${{ deal.original_price }}</span>
                                        </div>
                                        <div>
                                            Discount price: <span
                                                    class="font-weight-bold">${{ deal.discounted_price }}</span>
                                        </div>
                                        <div>
                                            From: {{ deal.shop.title }}.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% set i = i + 1 %}
                        {% if i % 3 == 0 %}
                            <div class="w-100"></div>
                        {% endif %}
                    {% else %}
                        <div class="col-sm-12">
                            No deals yet
                        </div>
                    {% endfor %}
                    {{ deals.links()|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>